<% @plots.each do |plot| %>
<section id="plot-<%= plot.id %>">
  <%= plot.number %>
</section>
  <% plot.plants.each do |plant| %>
    <li><%= plant.name %></li><br/>
  <% end %><br/>
<% end %>



<%  %>
<%=  %>
